@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #d9d17b;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: #ae682e;
  box-shadow: 0 0 12px -2px black;
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: x-large;
  margin: 0 5px;
}

nav {
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #333333;
  color: aliceblue;
  display: flex;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  box-shadow: 0 0 12px -2px black;
  color: aliceblue;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

footer {
  background-color: #333333;
  color: aliceblue;
  height: 70px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
}

footer a {
  margin: 0 25px;
}

footer .media-link {
  height: 45px;
}

.active {
  border-bottom: 1px solid #c0c0c0;
}

main > img {
  width: 300px;
  float: right;
  margin: 10px 0 10px 10px;
}

main .quote {
  font-family: 'Satisfy', cursive;
  color: aliceblue;
  font-size: 50px;
  font-weight: 100;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-top: 4em;
}

section {
  border-top: 1px solid #bbb;
  font-size: 16px;
}

.about-section img {
  height: 128px;
}

#about-header {
  font-weight: 300;
  font-size: 32px;
}


.project h2 {
  font-weight: 300;
  font-size: 32px;
}


.project-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main .quote {
    margin-top: 0;
  }

  footer a {
    margin: 0;
  }

  #form {
    margin: 0;
  }

  @media screen and (min-width: 400px) and (max-width: 1799px) and (min-height: 300px) and (max-height: 1100px) {
    body {
      background-color: #ae682e;
    }
  }

  input{
  width: 100%;
  height: 30px;
  font-size: 18px;
}

label{
  cursor: default;
}

